@import '~bootstrap/dist/css/bootstrap.css';
body{
  font-family: cursive;
}
.nav{
  /* background-image: url('./images/anton-repponen-3MNzGlQM7qs-unsplash.jpg'); */
  margin-right: 5px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  display: block;
  position: relative;
  background-color: lightskyblue;

}
.Footer{
  text-align: center;
border-bottom: 0;
background-color: lightskyblue;
position:relative;
bottom: -60px;;
width: 100%;
}


.home{
  background-image: url('./images/laura-vinck-Hyu76loQLdk-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.dreambody {
  background-image: url('./images/henrik-donnestad-DCD0_mzLCsg-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  max-width: 100%; 
  padding: 20px;
  box-sizing: border-box;
}

.dream-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.dream-meaning {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.dream-image {
  width: 50%;
  height: 50%;
  border-radius: 5px;
  margin-bottom: 45%;
}
.dream-item {

  padding: 20px;
  flex: 0 0 calc(40.33% - 10px);
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.nightmarebody {
  background-image: url('./images/pat-whelen-p177Ew94aHY-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  max-width: 100%; 
  padding: 20px;
  box-sizing: border-box;
}

.nightmare-item {
  
  padding: 20px;
  flex: 0 0 calc(40.33% - 10px);
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.nightmare-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.nightmare-meaning {
  font-weight: bold;
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
}

.nightmare-image {
  width: 50%;
  height: 50%;
  border-radius: 5px;
  margin-bottom: 45%;
}
.dream-show{
  background-image: url('./images/anton-repponen-3MNzGlQM7qs-unsplash.jpg');
  background-size: cover;
}
.nightmare-show{
  background-image: url('./images/stefano-pollio-ZC0EbdLC8G0-unsplash.jpg');
  background-size: cover;
}
.dreams-form{
  background-image: url('./images/frankie-k-QHBEEOpjCDQ-unsplash.jpg');
}

.nightmare-form{
  background-image:  url('./images/shot-by-cerqueira-0o_GEzyargo-unsplash.jpg');
}
